@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #2b2134;
  --color-primary-50: #f9f8f9;
  --color-primary-100: #f3f1f4;
  --color-primary-200: #e0d9e5;
  --color-primary-300: #cdc1d6;
  --color-primary-400: #a88aa9;
  --color-primary-500: #83427c;
  --color-primary-600: #6f3663;
  --color-primary-700: #231a29;
  --color-primary-800: #1a131e;
  --color-primary-900: #120d18;
  --color-primary-950: #120d18;
}

@font-face {
  font-family: 'BruceForever';
  src: url('/bruce-forever-font/BruceForeverRegular-X3jd2.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family:
    'BruceForever', Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
  background-color: var(--color-primary-700);
}
